<container>
	<h1 class=""> Welcome to Penguin Baseball! </h1>
  <p class > click here to start a game:</p>
  <p><button class='btn-primary'> Start!</button></p>

  <div id="gameoutput">
  </div>

</container>